.header {
  //   position: fixed;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  //   background: #2652B0;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
    }
    .right {
      .navs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        .nav_left {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
          a {
            color: #ffffff;
            text-decoration: none;
          }
        }
        .nav_right {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
