$spotify-green: #1db954;
$spotify-black: #0a6ff3;
$bg: #05bcf8;
$white-color: #ffffff;
$black-color: $spotify-black;
$lightest-slate: #d9dadc;
$navy-shadow: rgba(255, 255, 255, 0.7);
$black: $spotify-black;
$border-radius: 8px;
$transition: 0.3s ease;
.ProfileMenu {
  position: absolute;
  top: 70px;
  right: 10%;
  // right: 40%;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  z-index: 999;
  background: $bg;
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .user {
      img {
      }
      h2 {
      }
      p {
      }
    }
    .nav {
      ul {
        li {
          .link {
            padding: 7px 14px;
            display: block;
            border-radius: $border-radius;
            color: $black;
            transition: $transition;

            &:hover {
              background-color: $lightest-slate;
            }

            &.active {
              background-color: $black;
              color: $white-color;
            }
          }
        }
      }
      .nav_right {
        display: flex;
        align-items: center;

        .link {
          padding: 7px 14px;
          display: block;
          border-radius: $border-radius;
          color: $black;
          transition: $transition;

          &:hover {
            background-color: $lightest-slate;
          }

          &.active {
            background-color: $black;
            color: $white-color;
          }
        }
      }
    }
    .logout {
      padding: 7px 10px;
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
      background: none;
      border-radius: 7px;
      color: #fff;
      border: none;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
