.DiscountSlider {
    background: #2652b0;

    padding: 0 0 80px 0;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .title {
            padding: 40px 0;
            font-size: 40px;
            font-weight: 800;
            line-height: 54.56px;
            text-align: left;
            color: white;
        }

        .slider {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .prevButton {
                border: none;
                background: transparent;
                border: none;
                width: 55px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.3s;

                img {
                    width: 90px;
                    height: 90px;
                    transition: opacity 0.3s ease;
                }

                &:hover img {
                    content: url("../../../../../../assets//Icons//activeArrowLeft.png");
                }
            }

            .nextButton {
                border-radius: 100%;
                background: transparent;
                border: none;
                width: 55px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: opacity 0.3s ease;

                img {
                    width: 90px;
                    height: 90px;
                    transition: opacity 0.3s ease;
                }

                &:hover img {
                    content: url("../../../../../../assets//Icons/activeArrowRight.png");
                }
            }

            .sliderWrapper {
                overflow: hidden;
                width: 100%;
            }

            .slides {
                display: flex;
                gap: 60px;
                transition: transform 1s ease;

                .slide {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 30px 0 0 0;
                    position: relative;
                    flex-direction: column;
                    gap: 30px;
                    border-radius: 25px;
                    flex: 0 0 29.33%;
                    background: rgb(177, 177, 177);
                    transition: 0.3s;
                    .discount_bage {
                        font-size: 16px;
                        color: white;
                        font-weight: 700;
                        line-height: 21.82px;
                        text-align: left;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        background: #ff3d00;
                        color: #fff;
                        font-weight: bold;
                        padding: 5px 10px;
                        border-radius: 5px;
                        transform: rotate(-20deg);
                        z-index: 2;
                    }
                    .bookImg {
                        border-radius: 10px;
                    }
                    .info {
                        background: white;
                        width: 100%;
                        height: 100%;
                        padding: 20px;
                        border-radius: 25px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        .infoBlock {
                            display: flex;
                            width: 100%;
                            flex-direction: row;
                            justify-content: space-between;
                            .nameAndAuthor {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 5px;
                                .name {
                                    color: black;
                                    font-size: 16px;
                                    font-weight: 600;
                                    line-height: 19.1px;
                                    text-align: left;
                                }
                                .author {
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 16.37px;
                                    text-align: left;
                                    color: #00000099;
                                }
                            }
                            .prices {
                                display: flex;
                                flex-direction: column;
                                gap: 15px;
                                align-items: flex-end;
                                .discountPrice {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 5px;
                                    font-size: 17px;
                                    font-weight: 500;
                                    line-height: 20.46px;
                                    text-align: left;
                                    color: #2652b0;
                                }
                                .previewPrice {
                                    position: relative;
                                    font-size: 17px;
                                    text-decoration-color: red;
                                    font-weight: 500;
                                    line-height: 20.46px;
                                    text-align: left;
                                    color: #2652b0;
                                }

                                .previewPrice:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    width: 100%;
                                    height: 2px;
                                    background-color: red;
                                    transform: rotate(-15deg);
                                    transform-origin: center;
                                }
                            }
                        }
                        .action {
                            .button {
                                padding: 10px;
                                border-radius: 5px;
                                border: none;
                                color: white;
                                font-size: 17px;
                                font-weight: 500;
                                line-height: 21.82px;
                                text-align: left;
                                background: #2652b0;
                                transition: 0.3s;
                                &:hover {
                                    transform: translateY(-3px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
