.footer {
  background: #2652b0;
  position: relative;
  padding-top: 100px;
  .logo {
    position: absolute;
    top: -13.5%;
    right: 50%;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .top {
      display: flex;
      align-items: start;
      justify-content: space-between;

      .shop {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20;
        h1 {
          font-family: Nunito;
          font-size: 18px;
          font-weight: 500;
          line-height: 24.55px;
          color: #ffffff;
        }
        a {
          font-family: Nunito;
          font-size: 16px;
          font-weight: 300;
          line-height: 21.82px;
          color: #ffffff;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20;
        h1 {
          font-family: Nunito;
          font-size: 18px;
          font-weight: 500;
          line-height: 24.55px;
          color: #ffffff;
        }
        a {
          font-family: Nunito;
          font-size: 16px;
          font-weight: 300;
          line-height: 21.82px;
          color: #ffffff;
        }
      }
      .contact {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20;
        h1 {
          font-family: Nunito;
          font-size: 18px;
          font-weight: 500;
          line-height: 24.55px;
          color: #ffffff;
        }
        a {
          font-family: Nunito;
          font-size: 16px;
          font-weight: 300;
          line-height: 21.82px;
          color: #ffffff;
        }
      }
      .social {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        .sites {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;
        }
        h1 {
          font-family: Nunito;
          font-size: 18px;
          font-weight: 500;
          line-height: 24.55px;
          color: #ffffff;
        }
        a {
          font-family: Nunito;
          font-size: 16px;
          font-weight: 300;
          line-height: 21.82px;
          color: #ffffff;
        }
        .address {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            span {
              font-family: Nunito;
              font-size: 18px;
              font-weight: 500;
              line-height: 24.55px;
              color: #ffffff;
            }
            font-family: Nunito;
            font-size: 16px;
            font-weight: 300;
            line-height: 21.82px;
            color: #ffffff;
          }
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .map {
        iframe {
          width: 100%;
          height: 200px;
          border-radius: 30px;
        }
      }
    }
    .copyright {
      text-align: center;
      padding: 10px 0;
      p {
        color: #fff;
      }
    }
  }
}
