.loaderBlock {
    width: 100%;
    height: 100vh;
    display: flex;
    background: white;
    z-index: 1;
    position: absolute;
    align-items: center;
    justify-content: center;
    .loader {
        width: 35px;
        aspect-ratio: 1;
        --_g: no-repeat radial-gradient(farthest-side, #3d57a4 94%, #0000);
        background: var(--_g) 0 0, var(--_g) 100% 0, var(--_g) 100% 100%,
            var(--_g) 0 100%;
        background-size: 40% 40%;
        animation: l38 0.5s infinite;
    }
    @keyframes l38 {
        100% {
            background-position: 100% 0, 100% 100%, 0 100%, 0 0;
        }
    }
}
.mainBlock {
    margin-bottom: 10%;
    .block {
        display: flex;
        justify-content: space-around;
        .landmark {
            width: 40.9%;
            height: 767px;
            border-radius: 15px;
            background: rgba(0, 0, 0, 0.05);
            padding: 20px 15px;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: thin;
            scrollbar-color: #ffffff transparent;
            .cardBlock {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 500px;
                padding: 12px 20px;
                margin-left: 20px;
                height: 155px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 37px;
                margin: 10px 20px;
                border-radius: 20px;
                background: rgb(255, 255, 255);

                .ImgBlock {
                    display: flex;
                    gap: 10px;
                    .img {
                        img {
                            width: 90px;
                            height: 120px;
                            border-radius: 12px;
                            -webkit-border-radius: 12px;
                            -moz-border-radius: 12px;
                            -ms-border-radius: 12px;
                            -o-border-radius: 12px;
                        }
                    }
                    .ImgText {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 60%;
                        h2 {
                            color: rgb(0, 0, 0);
                            font-family: Nunito;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 19px;
                            margin-top: 2px;
                        }
                        h3 {
                            color: rgba(0, 0, 0, 0.6);
                            font-family: Nunito;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                        h4 {
                            color: rgba(0, 0, 0, 0.5);
                            font-family: Nunito;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 16px;
                        }
                    }
                }
                .quantity {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    h1 {
                        color: rgb(0, 0, 0);
                        font-family: Nunito;
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 27px;
                    }
                }
                .price {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    width: 25%;
                    h5 {
                        color: rgb(38, 82, 176);
                        font-family: Nunito;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
            }
        }

        .mainInput {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            width: 522px;
            h1 {
                color: rgb(38, 82, 176);
                font-family: Nunito;
                font-size: 32px;
                font-weight: 800;
                line-height: 44px;
            }
            .InputBlock {
                .BlockBtn {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 61px;
                    gap: 10;
                    padding: 10px 13px 10px 13px;
                    box-sizing: border-box;
                    border: 1px solid rgb(38, 82, 176);
                    border-radius: 10px;
                    background: rgb(255, 255, 255);
                    .delivery,
                    .pickup {
                        width: 184px;
                        height: 41px;
                        display: flex;
                        justify-content: center;
                        padding: 7px 10px;
                        border-radius: 10px;
                        border: 0;
                        font-family: Nunito;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 27px;
                        cursor: pointer;
                        transition: background 0.3s, color 0.3s;
                        -webkit-transition: background 0.3s, color 0.3s;
                        -moz-transition: background 0.3s, color 0.3s;
                        -ms-transition: background 0.3s, color 0.3s;
                        -o-transition: background 0.3s, color 0.3s;
                    }

                    .delivery {
                        background: rgb(255, 255, 255);
                        color: rgb(38, 82, 176);
                    }

                    .pickup {
                        background: rgb(255, 255, 255);
                        color: rgb(38, 82, 176);
                    }

                    .activeDelivery {
                        background: rgb(38, 82, 176);
                        color: rgb(255, 255, 255);
                    }

                    .activePickup {
                        background: rgb(38, 82, 176);
                        color: rgb(255, 255, 255);
                    }
                }
                .Inputs {
                    margin: 10% 0;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 12px;
                    .Input {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h6 {
                            color: rgba(0, 0, 0, 0.5);
                            font-family: Nunito;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        hr {
                            margin-top: -15px;
                        }

                        input {
                            border: 1px solid rgba(0, 0, 0, 0.7);
                            width: 100%;
                            padding: 20px;
                            margin-top: 10px;
                            border: 0;
                            outline: none;
                        }
                    }
                }
                .uploadFile {
                    .text1 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h4 {
                            color: rgba(0, 0, 0, 0.7);
                            font-family: Nunito;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                    .text2 {
                        h4 {
                            color: rgba(0, 0, 0, 0.7);
                            font-family: Nunito;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                    .text3 {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin: 2% 0;
                        h3 {
                            color: rgb(0, 0, 0);
                            font-family: Nunito;
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 25px;
                        }
                    }
                    .text4 {
                        h2 {
                            color: rgb(0, 0, 0);
                            font-family: Nunito;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                    .text5 {
                        display: flex;
                        gap: 15px;
                        p {
                            color: rgba(0, 0, 0, 0.5);
                            font-family: Nunito;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 19px;
                        }
                    }
                    .upload {
                        .selectFile {
                            width: 100%;
                            height: 90px;
                            box-sizing: border-box;
                            border: 1px dashed rgb(38, 82, 176);
                            border-radius: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 20px;
                            input {
                                width: 63%;
                                height: 42px;
                                border-radius: 10px;
                                background: rgb(38, 82, 176);

                                border-radius: 10px;
                                padding: 10px 15px;
                                cursor: pointer;
                                color: white;
                            }
                        }
                        button {
                            border-radius: 10px;
                            background: rgb(38, 82, 176);
                            width: 100%;
                            height: 42px;
                            color: rgb(255, 255, 255);
                            font-family: Nunito;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 22px;
                            border: none;
                            margin: 10px 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
